extends layout

block content
    //if user.username !== currentUser
    p #{user.username} User 
    p #{currentUser.username} Current User
    p #{user._id}
    p #{user.theme} user theme
    p #{currentTheme} current
    if user.username === currentUser.username
        if user.theme === "dark"
            a(href="/changelight/" + currentUser.username) click here
        else
            a(href="/changedark/" + currentUser.username) click here
        label(class="switch")
         if currentTheme === "light"
             a(href="/changeDark/" + currentUser.email)
                 input(type="checkbox" id="themeButton")
         else
             a(href="/changeLight/" + currentUser.email)
                 input(type="checkbox" id="themeButton" checked)
         span(class="slider round")
    img(src='/getimage/' + user.username alt="missing image of " + user.username)
    .tab
        button.tablinks(onclick="followTabs(event, 'Followers')") Followers
        button.tablinks(onclick="followTabs(event, 'Following')") Following
          #Followers.tabcontent
            h3 Followers
            p Ost
          #Following.tabcontent
            h3 Following
            p Even bigger ost
    script
        include ../public/javascripts/script.js
