extends layout

block content
    div(id="oneYadda")
        div(id="yadda")
            a(href="/profiles/" + oneYadda.username)
                img(src='/getimage/' + oneYadda.username alt=oneYadda.username + " has no picture")
            div(id="yaddaText")
                div(id="username")
                    a(href="/profiles/" + oneYadda.username) #{oneYadda.username}
                    - var mid = "d" + (i++)
                    p(id=mid) 
                    script fullDate(#{oneYadda.created}, "#{mid}")     
                p #{oneYadda.yadda}
    div(id="post")
        form(action="/replyYadda/" + oneYadda._id method="post")
            input(type="text" name="yadda" placeholder="Reply")
            input(type="hidden" name="reply" value=oneYadda._id)
            button Reply
    div(id="timeline")
        - var i = 0
        each yadda in yaddas
            if `${oneYadda._id}` === `${yadda.replyTo}`
                div(id="yadda")
                    a(href="/profiles/" + yadda.username)
                        img(src='/getimage/' + yadda.username alt=yadda.username + " has no picture")
                    div(id="yaddaText")
                        div(id="username")
                            a(href="/profiles/" + yadda.username) #{yadda.username}
                            - var mid = "d" + (i++)
                            p(id=mid) 
                            script fullDate(#{yadda.created}, "#{mid}")     
                        p #{yadda.yadda}
                        button
                            a(href="/replyYadda/" + yadda._id) Reply